/* You can add global styles to this file, and also import other style files */
html, body{
  margin: 0;
}

h1{
  font-size: 2em;
}

*{
  color: #00b920;
  font-family: 'VT323', sans-serif;
}

input, select, textarea{
  border: none;
  padding: 5px;
  width: 200px;
}

button.btn{
  background-color: black;
  border: 1px solid #00b920;
  cursor: pointer;
  padding: 5px;
  margin: 25px 0;
  display: block;
}
button.disabled{
  border: 3px solid #ff0000;
  color: #ff0000;
  cursor: not-allowed;
}
